:root{
    --color-all-white:  #FFFFFF;
    --color-font-gray:  #707070;
    --color-line-gray:  #2C2C2C;
    --color-background: #141414;
    --color-font-black: #000000;
    --color-border-blue:#2ECDFF;
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../storage/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../storage/fonts/RobotoCondensed-Regular.ttf);
}